<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{xmltransformer.create_style.title}'>
            <@aButton href='jsp/admin/style/ManageStyles.jsp' buttonIcon='arrow-left' title='#i18n{portal.util.labelBack}' color='light' hideTitle=['xs'] />
        </@pageHeader>
        <@tform method='post' name='create_style' action='jsp/admin/style/ManageStyles.jsp' boxed=true>
            <@messages errors=errors![] />
            <@input type='hidden' name='action' value='createStyle' />
            <@formGroup labelKey='#i18n{xmltransformer.create_style.labelId}' labelFor='style_id' mandatory=true rows=2>
                <@input type='number' max=2147483647 name='id' id='style_id' maxlength=10 mandatory=true />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.create_style.labelName}' labelFor='style_name' mandatory=true rows=2>
                <@input type='text' name='description' id='style_name' maxlength=100 mandatory=true />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.create_style.labelComponentType}' labelFor='portalComponentId' rows=2>
                <@select name='portalComponentId' default_value='0' items=portal_component_list />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.create_style.labelPortletType}' labelFor='portletTypeId' rows=2>
                <@select name='portletTypeId' default_value='0' items=portlet_type_list />
            </@formGroup>
            <@formGroup rows=2>
                <@button type='submit' buttonIcon='plus' title='#i18n{xmltransformer.create_style.buttonCreate}' hideTitle=['xs'] color='primary' />
                <@aButton href='jsp/admin/style/ManageStyles.jsp' buttonIcon='x' title='#i18n{portal.util.labelCancel}' hideTitle=['xs'] color='light' />
            </@formGroup>
        </@tform>
    </@pageColumn>
</@pageContainer>
<script>
const portalComponent = document.getElementById( 'portalComponentId' );
const portletType = document.getElementById( 'portletTypeId' );
if ( portalComponent && portletType ) {
    const togglePortletType = ( ) => { portletType.disabled = portalComponent.value !== '0'; };
    portalComponent.addEventListener( 'change', togglePortletType );
    togglePortletType( );
}
</script>
