<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{xmltransformer.manage_styles.title}'>
            <#if style_list?size gt 9>
            <@tform method='post' type='inline'>
                <@formGroup labelFor='search_style' labelKey='#i18n{portal.system.manage_plugins.buttonFilter}' hideLabel=['all'] formStyle='inline'>
                    <@inputGroup>
                        <@input type='text' name='search_style' id='search_style' placeHolder='#i18n{portal.system.manage_plugins.buttonFilter}' params='autocomplete="off" addons' />
                        <@button color='primary' title='#i18n{portal.system.manage_plugins.buttonFilter}' buttonIcon='filter' hideTitle=['all'] />
                    </@inputGroup>
                </@formGroup>
            </@tform>
            </#if>
            <@aButton href='jsp/admin/style/ManageStyles.jsp?view=getCreateStyle' buttonIcon='plus' title='#i18n{xmltransformer.manage_styles.buttonCreate}' hideTitle=['xs'] />
        </@pageHeader>
        <@messages infos=infos![] errors=errors![] warnings=warnings![] />
        <#if style_list?has_content>
            <@manageFeature>
            <#list style_list?sort_by('id') as style>
                <@manageFeatureItem liClass='item-labels'>
                    <@manageFeatureItemColumn class='searchable'>
                        <@p>#i18n{xmltransformer.manage_styles.labelId}: <strong>${style.id}</strong> - #i18n{xmltransformer.manage_styles.labelName}: <strong>${style.description?html}</strong></@p>
                    </@manageFeatureItemColumn>
                    <@manageFeatureItemColumn class='searchable'>
                        <@p>#i18n{xmltransformer.manage_styles.labelComponentType}: <strong>${style.portalComponentName}</strong></@p>
                    </@manageFeatureItemColumn>
                    <@manageFeatureItemColumn class='searchable'>
                        <#if style.portletTypeName !=''><@p>#i18n{xmltransformer.manage_styles.labelPortletType}: <strong>#i18n{${style.portletTypeName}}</strong></@p></#if>
                    </@manageFeatureItemColumn>
                    <@manageFeatureItemColumn align='end'>
                        <@aButton href='jsp/admin/style/ManageStyles.jsp?view=getModifyStyle&id=${style.id}' buttonIcon='edit' title='#i18n{portal.util.labelModify}' hideTitle=['all'] />
                        <@aButton href='jsp/admin/style/ManageStyles.jsp?view=getConfirmRemoveStyle&id=${style.id}' buttonIcon='trash' title='#i18n{portal.util.labelDelete}' hideTitle=['all'] color='danger' />
                    </@manageFeatureItemColumn>
                </@manageFeatureItem>
            </#list>
            </@manageFeature>
            <#if style_list?size gt 9><@paginationAdmin paginator=paginator combo=1 /></#if>
        <#else>
            <@card>
                <@empty title='#i18n{portal.util.labelNoItem}' iconName='brush-off' actionTitle='#i18n{xmltransformer.manage_styles.buttonCreate}' actionUrl='jsp/admin/style/ManageStyles.jsp?view=getCreateStyle' />
            </@card>
        </#if>
    </@pageColumn>
</@pageContainer>
<#if style_list?size gt 9>
<script type="module">
import LuteceSearchList from './themes/shared/modules/luteceSearchList.js';
new LuteceSearchList( document.querySelector( '#search_style' ), document.querySelectorAll( '.item-labels' ), {
    searchableChild: [ '.searchable' ],
    highlight: true,
});
</script>
</#if>
