<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{xmltransformer.modify_style.title}'>
            <@aButton href='jsp/admin/style/ManageStyles.jsp' buttonIcon='arrow-left' title='#i18n{portal.util.labelBack}' color='light' hideTitle=['xs'] />
        </@pageHeader>
        <@tform method='post' name='modify_style' action='jsp/admin/style/ManageStyles.jsp' boxed=true>
            <@messages errors=errors![] />
            <@input type='hidden' name='action' value='modifyStyle' />
            <@formGroup labelKey='#i18n{xmltransformer.modify_style.labelId}' labelFor='style_id' mandatory=true rows=2>
                <@input type='number' name='id' id='style_id' readonly=true value='${style.id}' />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.modify_style.labelName}' labelFor='style_name' mandatory=true rows=2>
                <@input type='text' name='description' id='style_name' maxlength=100 value='${style.description?html}' mandatory=true />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.modify_style.labelComponentType}' labelFor='portalComponentId' rows=2>
                <@select name='portalComponentId' default_value='${style.portalComponentId}' items=portal_component_list />
            </@formGroup>
            <#if style.portletTypeId??>
            <@formGroup labelKey='#i18n{xmltransformer.modify_style.labelPortletType}' labelFor='portletTypeId' rows=2>
                <@select name='portletTypeId' default_value='${style.portletTypeId}' items=portlet_type_list />
            </@formGroup>
            </#if>
            <@formGroup rows=2>
                <@button type='submit' buttonIcon='check' title='#i18n{xmltransformer.modify_style.buttonModify}' hideTitle=['xs'] color='primary' />
                <@aButton href='jsp/admin/style/ManageStyles.jsp' buttonIcon='x' title='#i18n{portal.util.labelCancel}' hideTitle=['xs'] color='light' />
            </@formGroup>
        </@tform>
    </@pageColumn>
</@pageContainer>
<script>
const portalComponent = document.getElementById( 'portalComponentId' );
const portletType = document.getElementById( 'portletTypeId' );
if ( portalComponent && portletType ) {
    const togglePortletType = ( ) => { portletType.disabled = portalComponent.value !== '0'; };
    portalComponent.addEventListener( 'change', togglePortletType );
    togglePortletType( );
}
</script>
