<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{xmltransformer.create_stylesheet.title}'>
            <@aButton href='jsp/admin/style/ManageStyleSheets.jsp' buttonIcon='arrow-left' title='#i18n{portal.util.labelBack}' color='light' hideTitle=['xs'] />
        </@pageHeader>
        <@tform method='post' name='create_stylesheet' action='jsp/admin/style/ManageStyleSheets.jsp' enctype='multipart/form-data' boxed=true>
            <@input type='hidden' name='action' value='createStyleSheet' />
            <@formGroup labelKey='#i18n{xmltransformer.create_stylesheet.labelName}' labelFor='stylesheet_name' mandatory=true rows=2>
                <@input type='text' name='stylesheet_name' id='stylesheet_name' maxlength=255 mandatory=true />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.create_stylesheet.labelFilename}' labelFor='stylesheet_source' mandatory=true rows=2>
                <@input type='file' name='stylesheet_source' id='stylesheet_source' mandatory=true />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.create_stylesheet.labelStyle}' labelFor='styles' mandatory=true rows=2>
                <@select name='styles' default_value='0' items=style_list />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.create_stylesheet.labelMode}' labelFor='mode_stylesheet' mandatory=true rows=2>
                <@select name='mode_stylesheet' default_value='${mode_id}' items=mode_list sort=true />
            </@formGroup>
            <@formGroup rows=2>
                <@button type='submit' buttonIcon='plus' title='#i18n{xmltransformer.create_stylesheet.buttonCreate}' hideTitle=['xs'] color='primary' />
                <@aButton href='jsp/admin/style/ManageStyleSheets.jsp' buttonIcon='x' title='#i18n{portal.util.labelCancel}' hideTitle=['xs'] color='light' />
            </@formGroup>
        </@tform>
    </@pageColumn>
</@pageContainer>
