<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{xmltransformer.manage_stylesheets.title}'>
            <#if stylesheet_list?size gt 9>
            <@tform method='post' type='inline'>
                <@formGroup labelFor='search_stylesheet' labelKey='#i18n{portal.system.manage_plugins.buttonFilter}' hideLabel=['all'] formStyle='inline'>
                    <@inputGroup>
                        <@input type='text' name='search_stylesheet' id='search_stylesheet' placeHolder='#i18n{portal.system.manage_plugins.buttonFilter}' params='autocomplete="off" addons' />
                        <@button color='primary' title='#i18n{portal.system.manage_plugins.buttonFilter}' buttonIcon='search' hideTitle=['all'] />
                    </@inputGroup>
                </@formGroup>
            </@tform>
            </#if>
            <@tform method='get' type='inline' align='middle' action='jsp/admin/style/ManageStyleSheets.jsp'>
                <@formGroup formStyle='inline' labelKey='#i18n{xmltransformer.manage_stylesheets.labelSortByMode}' labelFor='mode_id' hideLabel=['all'] groupStyle='addons'>
                    <@inputGroup>
                        <@select name='mode_id' default_value='${mode_id}' items=mode_list params='addons' />
                        <@button type='submit' buttonIcon='filter' title='#i18n{portal.util.labelFilter}' hideTitle=['all'] color='primary' />
                    </@inputGroup>
                </@formGroup>
            </@tform>
            <@aButton href='jsp/admin/style/ManageStyleSheets.jsp?view=createStyleSheet&mode_id=${mode_id}' buttonIcon='plus' title='#i18n{xmltransformer.manage_stylesheets.buttonAdd}' hideTitle=['xs'] />
        </@pageHeader>
        <@messages infos=infos![] errors=errors![] warnings=warnings![] />
        <#if stylesheet_list?has_content>
            <@manageFeature>
            <#list stylesheet_list as stylesheet>
                <@manageFeatureItem liClass='item-labels'>
                    <@manageFeatureItemColumn class='searchable'>
                        #i18n{xmltransformer.manage_stylesheets.columnName} ${stylesheet.description?html}
                    </@manageFeatureItemColumn>
                    <@manageFeatureItemColumn class='searchable'>
                        #i18n{xmltransformer.manage_stylesheets.columnFilename} ${stylesheet.file?html}
                    </@manageFeatureItemColumn>
                    <@manageFeatureItemColumn align='end'>
                        <@aButton href='jsp/admin/style/ManageStyleSheets.jsp?view=modifyStyleSheet&stylesheet_id=${stylesheet.id}' buttonIcon='edit' title='#i18n{portal.util.labelModify}' hideTitle=['all'] />
                        <@aButton href='jsp/admin/style/ManageStyleSheets.jsp?view=confirmRemoveStyleSheet&stylesheet_id=${stylesheet.id}' buttonIcon='trash' title='#i18n{portal.util.labelDelete}' hideTitle=['all'] color='danger' />
                    </@manageFeatureItemColumn>
                </@manageFeatureItem>
            </#list>
            </@manageFeature>
            <#if stylesheet_list?size gt 5><@paginationAdmin paginator=paginator combo=1 /></#if>
        <#else>
            <@card>
                <@empty title='#i18n{portal.util.labelNoItem}' iconName='file-off' actionTitle='#i18n{xmltransformer.manage_stylesheets.buttonAdd}' actionUrl='jsp/admin/style/ManageStyleSheets.jsp?view=createStyleSheet&mode_id=${mode_id}' />
            </@card>
        </#if>
    </@pageColumn>
</@pageContainer>
<#if stylesheet_list?size gt 9>
<script type="module">
import LuteceSearchList from './themes/shared/modules/luteceSearchList.js';
new LuteceSearchList( document.querySelector( '#search_stylesheet' ), document.querySelectorAll( '.item-labels' ), {
    searchableChild: [ '.searchable' ],
    highlight: true,
});
</script>
</#if>
