<@pageContainer>
    <@pageColumn>
        <@pageHeader title='#i18n{xmltransformer.modify_stylesheet.title}'>
            <@aButton href='jsp/admin/style/ManageStyleSheets.jsp' buttonIcon='arrow-left' title='#i18n{portal.util.labelBack}' color='light' hideTitle=['xs'] />
        </@pageHeader>
        <@tform method='post' name='modify_stylesheet' action='jsp/admin/style/ManageStyleSheets.jsp' enctype='multipart/form-data' boxed=true>
            <@input type='hidden' name='action' value='modifyStyleSheet' />
            <@input type='hidden' name='stylesheet_id' value='${stylesheet.id}' />
            <@formGroup labelKey='#i18n{xmltransformer.modify_stylesheet.labelName}' labelFor='stylesheet_name' mandatory=true rows=2>
                <@input type='text' name='stylesheet_name' id='stylesheet_name' value='${stylesheet.description?html}' maxlength=255 mandatory=true />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.modify_stylesheet.labelFilename}' labelFor='stylesheet_source' mandatory=true rows=2>
                <@inputGroup>
                    <@input type='file' name='stylesheet_source' id='stylesheet_source' mandatory=true />
                    <@inputGroupItem type='btn'>
                        <@aButton href='servlet/plugins/xmltransformer/viewStyleSheetFile?stylesheet_id=${stylesheet.id}' buttonIcon='download' title='#i18n{xmltransformer.modify_stylesheet.buttonView}' color='info' hideTitle=['all'] />
                    </@inputGroupItem>
                </@inputGroup>
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.modify_stylesheet.labelStyle}' labelFor='styles' mandatory=true rows=2>
                <@select name='styles' default_value='${stylesheet.styleId}' items=style_list />
            </@formGroup>
            <@formGroup labelKey='#i18n{xmltransformer.modify_stylesheet.labelMode}' labelFor='mode_stylesheet' mandatory=true rows=2>
                <@select name='mode_stylesheet' default_value='${stylesheet.modeId}' items=mode_list />
            </@formGroup>
            <@formGroup rows=2>
                <@button type='submit' buttonIcon='check' title='#i18n{xmltransformer.modify_stylesheet.buttonModify}' hideTitle=['xs'] color='primary' />
                <@aButton href='jsp/admin/style/ManageStyleSheets.jsp' buttonIcon='x' title='#i18n{portal.util.labelCancel}' hideTitle=['xs'] color='light' />
            </@formGroup>
        </@tform>
    </@pageColumn>
</@pageContainer>
